/*

!/perch
/perch/*

!/perch/addons
/perch/addons/*

!/perch/addons/apps
/perch/addons/apps/*

!/perch/addons/apps/jw_locator
!/perch/addons/apps/root_locator

!/perch/addons/fieldtypes
!/perch/addons/fieldtypes/*

!/perch/addons/fieldtypes/locator
!/perch/addons/fieldtypes/locator/*

!/locations/*

!.gitignore
!readme.md
!LICENSE

.DS_Store
.idea