/* Tags */
.tag {
    border-radius: 4px;
    border: 2px solid;
    padding: 3px 5px;

    font-size: 11px;
    font-weight: bold;
}

.tag.queued {
    color: #FBB040;
}

.tag.processing {
    color: #41B1EA;
}

.tag.synced {
    color: #33A860;
}

.tag.error {
    color: #CC0500;
}

a:hover .tag.error {
    border-color: #CC0500;
    background-color: #CC0500;
    text-decoration: none;
    color: #FFF;
}

.map-preview {
    display: block;
    border: 1px solid #E5E5E5;
    padding: 5px;
    margin: 20px 0 20px 240px;
    max-width: 100%;
}

@media screen and (max-width:1060px) {
    .sidebar-open .map-preview {
        margin-left: 0;
    }
}

@media screen and (max-width:840px) {
    .sidebar-closed .map-preview {
        margin-left: 0;
    }
}

.error-list {

}

.error-list thead th {
    border-bottom-color: #ffcdcc;
    background-color: #FFE0E0;
    color: #CC0500;
}

.error-list td {
    border-bottom-color: #FFE0E0;
    background-color: #fff4f3;
    color: #C45E5C;
}